In [1]:
import pandas as pd
data = pd.read_csv('datos.csv')
data

                x_1           x_2  y
0     -1.851357e+14  3.565394e+13  0
1      5.715585e+14 -8.484241e+13  1
2      5.175931e+14 -1.231538e+14  1
3      5.966117e+14 -1.778714e+14  1
4      4.207345e+14 -1.175593e+14  1
...             ...           ... ..
16379  7.025930e+14 -1.572575e+14  0
16380 -8.740727e+13  7.636715e+13  0
16381  4.867707e+14 -1.507269e+14  1
16382  6.819048e+14 -1.245187e+14  1
16383  4.306949e+14 -2.181501e+14  1

[16384 rows x 3 columns]

In [10]:
X = data.values[:,:2]
print(X)
y = data.values[:,2]
print(y)

[[-1.85135701e+14  3.56539353e+13]
 [ 5.71558450e+14 -8.48424082e+13]
 [ 5.17593126e+14 -1.23153770e+14]
 ...
 [ 4.86770722e+14 -1.50726911e+14]
 [ 6.81904757e+14 -1.24518746e+14]
 [ 4.30694945e+14 -2.18150073e+14]]
[0. 1. 1. ... 1. 1. 1.]

In [19]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X,y)
lr.score(X,y)

C:\Users\usuario\anaconda3\envs\quantum\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.5